
  </html>


    
  <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
        rel="stylesheet"
    />
    
  
  
    <link rel="stylesheet" href="/static/pashya.css">
    
    </head>
    
     
    <body>
    
    
    
    
  
      <!-- navbar -->
        <nav class=" card border-warning mb-3 navbar bg-transparent  container-sm">
            <div class="text-dark-emphasis  container-sm">
              <a class="text-dark-emphasis navbar-brand" href="#"><a2>PAGE DETAIL</a2>
    
      
    
        <script>
          function myFunction() {
             var element = document.body;
             element.classList.toggle("dark-mode");
          }
          </script>
              
    
    
    
    
    
              <button class="text-dark-emphasis navbar-toggler  position-absolute top-0 start-100" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="border border-white text-dark-emphasis navbar-toggler-icon"></span>
              </button>
              <div class="collapse  navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="text-dark-emphasis   nav-link active" aria-current="page" href="https://www.cavendishprofessionals.com/what-is-the-purpose-of-writing-a-cv/"><a2> ABOUT PAGE </a2></a>
                  <li class="bg-transparent  nav-item">
                    <li class="bg-transparent nav-item dropdown">
                    <a class="text-dark-emphasis  nav-link  dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><a2>
                    PAGE SUGGESTION</a2>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class=" text-dark-emphasis  dropdown-item " href="mailto:officiallynotes52114@gmail.com"><a2>mail</a2></a></li>
                      <li><a class="text-dark-emphasis    dropdown-item" href="https://wa.me/9172353945?text=hey%20pashya"><a2> whatsapp</a2></a></li>
                
                    </ul>
                  </li>
                </ul>
               
              </div>
            </div></div>
          </nav>
        
    
    
  
     
       <br>           
            
    
    
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>    
    </body>
    </html>
    
    
    
    
    
 
  
  
    
  
  
  
  
  
  
  
  
  
    <br>
    <br> <br>
    <br> <br>
    <br><br> <br>
    <br>
  
  
   
  
  
      {% for message in messages %}
      <div class="alert alert-{{message.tag}}alert-dismissible fade show" role="alert">
      <strong>Message</strong>{{message}}
      <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
      </div>
      {% endfor %}
  
  
  
      <div class="container">
        <form action="/signin" method="post">
          {% csrf_token %} 
  
  
  
         <span></span> <div class="title">Signin</div>
  
          <div class="input-box underline">
            <input type="text" id="username"name="username" placeholder="Enter your username" required>
            <div class="underline"></div>
          </div>
  
  
         <div class="input-box">
          <input type="password" id="pass1" name="pass1" placeholder="Enter Your Passwords" required>
          <div class="underline"></div>
        </div>
  
         
         <div class="input-box button" href="">
           <input type="submit" name="" value="Signin">
         </div>
        
         
       </form>
  
  
      
       <div class="twitter">
         <a href="/signup"><i class="fab fa-twitter"></i>signup </a>
  
  
         <br><br>
  
         <div class="option text-dark">TOWARDS THE ADMIN </div>
       
       </div>
       <div class="facebook">
         <a href="/adminpashya"><i class="fab fa-facebook-f"></i>Admin page</a>
       </div>
   </div>
      
  


  
    </body>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br>



    <div class="btn btn-outline position-relative top-0 end-0">
    <div class="menu">
      <ul>
          <li><a href="https://www.youtube.com/" >You Tube</a></li>
          <li><a href="https://www.google.com/" >google</a></li>
          <li><a href="https://www.google.com/chrome/" >chrome</a></li>
          <li><a target="_blank" href="https://play.google.com/store/games?device=windows" >Google Play</a></li>
          <li><a href="https://search.yahoo.com/">yahoo</a></li>
    
          
    
    
      </ul>
    </div>
  </div>
    
     
    </html>
  