{% comment %} 
<!DOCTYPE html>
<html>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<style>
  table, th, td {
    border: 4px outset white;
    border-collapse: collapse;
  }
  th, td {
    background-color: #96D4D4;
  }
</style>
<body class="bg-dark">

  <h2 class="text-info">HERE IS THIRD YEAR 1<sup>st</sup> SEMISTER ASSIGNMENTS</h2>

<table style="width:50% ,">
  <tr >
                
    <th >S/N</th>
    <th>status</th>
    <th>Upload date</th>
    <th>First Name</th>
    <th>See file</th>
    <th>file desc</th>
    <th>file name</th>
    <th>download it</th>


  
  </tr>

 
  {% for a in data2 %}
           

             <tr>
                
              <th>{{forloop.counter}}</th>

              <th>{{a.status}}</th>

               <th>{{a.date_field}}</th>
 
             <th>{{a.full_name}}</th>


      <th><a href="{{a.myfiles.url}}">{{a.myfiles}}</a></th>
              
      <th>{{a.file_desc}}</th>

      <th>{{a.file_name}}</th>
            
            
      <th><a Download href="{{f.myfiles.url}}">DOWNLOAD</a></th> 
     
               
              </tr>
             
             
             {%endfor%}
</table>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html> 
 {% endcomment %}






<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/seeassignments.css">
</head>
<body>

  <a href="/view">
    <button class="button-92" role="button">CHECH SYLLABUS</button>
     </a>


  <div class="table-users">
    <div class="header">STUDENT_____UPLOADED_____ASSIGNMENTS</div>
    
    <table cellspacing="0">
       <tr>
        <th >S/N</th>
        <th>SUBJECT</th>
        <th>Upload date</th>
        <th>Full Name</th>
        <th width="230">File Desc</th>
        <th>file name</th>
        <th>See file</th>
        
        <th>download it</th>
        
       </tr>
 
       {% for a in data2 %}

       <tr>
        <td></td>
          <td class="header2" >☆★
            ━━━━━❣━━⊱⁜   {{forloop.counter}}  ⁜⊰ ━━━━━❣━━━★☆</td>

          <td class="header4">{{a.status}}</td>

          <td class="header3">{{a.date_field}}</td>

          <td class="header4">{{a.full_name}}</td>

          <td class="header4">{{a.file_desc}} </td>

          <td class="header4">{{a.file_name}}</td>

          <td>
          
            <a class="header1" href="{{a.myfiles.url}}">{{a.myfiles}}</a>


          </td>
          
          
          <td><a  class="header1" Download href="{{f.myfiles.url}}"> DOWNLOAD </a></td>
       </tr>
 
       {%endfor%}
  
</body>
</html>

